svg {
    width: 100px;
    height: 50px;
}

.LogoSearch {
    display: flex;
    gap: 0.35rem;
}

.Search {
    display: flex;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 20px;
}

.Search>input {
    background-color: transparent;
    border: none;
    outline: none;
}

.s-icon>svg {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 10px;
    width: 35px;
    color: #2565fa;
}

.s-icon svg,
.s :hover {
    cursor: pointer;
}



.Search input {
    background-color: var(--inputColor);
    border-radius: 3px;
    /* display: flex; */
}